@model IEnumerable<MVC_ValueObjects.Nguoi_Dung_Objects>
@{
    ViewBag.Title = "Home Page";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
            Username
        </th>
        <th>
            Khẩu phần ăn
        </th>
        <th>
            Chi tiết khẩu phần ăn
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.hoten)
            </td>

            <td>
                @Html.DisplayFor(m => item.user_name)
            </td>
            <td>
                @Html.DisplayFor(m => item.khau_phan_an)
            </td>
            <td>
                @Html.DisplayFor(m => item.chi_tiet_khau_phan_an)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>