@model MVC_ValueObjects.Tinh_Trang_Cham_Soc_Pham_Nhan_Objects

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a class="navbar-brand" href="">Home</a></li>
                    <li><a href="#">Giới Thiệu <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Tin Tức - Sự Kiện</a></li>
                    <li><a href="#" title="">Đường Dây Nóng</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Đăng Nhập</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" id="tt-cai-tao">
        <div class="row">
            <div class="col-md-4 sidebar-left-cai-tao">
                <ul>
                    @{
                        if (ViewBag.ma_phong_ban == "1")
                        {
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Tình Trạng Phạm Nhân", "TinhTrangPhamNhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Danh Sách Phạm Nhân", "DanhSachPhamNhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Danh Sách Phạm Nhân Chăm Sóc Trong Ngày", "DanhSachTuNhanDuocChamSocTrongNgay")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Cập Nhật Tình Trạng Sức Khỏe", "CapNhatTinhTrangSucKhoePhamNhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Thêm Phạm Nhân", "ThemPhamNhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Danh Sách Phạm Nhân Tiếp Nhận Phóng Thích", "DanhSachPhamNhanTiepNhanPhongThich")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Hoạt Động Của Bộ Phận", "HoatDongCuaBoPhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Gợi Ý Khẩu Phần Ăn", "GoiYKhauPhanAn")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Tình Trạng Cải Tạo", "TinhTrangCaiTao")</li>
                        }
                        else
                        {
                            if (ViewBag.ma_phong_ban == "2")
                            {
                                <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Tình Trạng Phạm Nhân", "TinhTrangPhamNhan")</li>
                            }
                            else
                            {
                                if (ViewBag.ma_phong_ban == "3")
                                {
                                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Danh Sách Phạm Nhân", "DanhSachPhamNhan")</li>
                                }
                                else
                                {
                                    if (ViewBag.ma_phong_ban == "4")
                                    {
                                        <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Danh Sách Phạm Nhân Chăm Sóc Trong Ngày", "DanhSachTuNhanDuocChamSocTrongNgay")</li>
                                        <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Cập Nhật Tình Trạng Sức Khỏe", "CapNhatTinhTrangSucKhoePhamNhan")</li>
                                    }
                                    else
                                    {
                                        if (ViewBag.ma_phong_ban == "5")
                                        {
                                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Thêm Phạm Nhân", "ThemPhamNhan")</li>
                                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Danh Sách Phạm Nhân Tiếp Nhận Phóng Thích", "DanhSachPhamNhanTiepNhanPhongThich")</li>
                                        }
                                        else
                                        {
                                            if (ViewBag.ma_phong_ban == "6")
                                            {
                                                <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Gợi Ý Khẩu Phần Ăn", "GoiYKhauPhanAn")</li>
                                            }
                                            else
                                            {
                                                if (ViewBag.ma_phong_ban == "7")
                                                {
                                                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Danh Sách Phạm Nhân", "DanhSachPhamNhan")</li>
                                                }
                                                else
                                                {
                                                    if (ViewBag.ma_phong_ban == "8")
                                                    {
                                                        <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("Tình Trạng Cải Tạo", "TinhTrangCaiTao")</li>
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                </ul>
            </div>
            <div class="col-md-8 sidebar-right-cai-tao">
                <h3 class="title-tinhtrang"><span class="glyphicon glyphicon-send"></span> CẬP NHẬT TÌNH TRẠNG SỨC KHOẺ PHẠM NHÂN</h3>

                <!-- <div class="tt-timkiem-xoa">
        <button type="button" class="btn btn-primary">Xoá</button>
        <button type="button" class="btn btn-success">Tìm Kiếm</button>
    </div> -->
                @using (Html.BeginForm("CapNhatTinhTrangSucKhoePhamNhan", "Page", FormMethod.Get, new { @class = "form-tt" }))
                {
                    <div for="inputPassword" class="col-sm-10 lable-mucdo">Tìm Kiếm </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Mã Phạm Nhân: </label>
                        <div class="col-sm-5">
                            <input type="text" name="txtSearch_Text" class="form-control" id="Search_text" placeholder="A001">
                            @Html.ValidationMessage("Search")
                        </div>
                        <div class="col-md-3">
                            <button type="reset" class="btn btn-primary">Xoá</button>
                            <button type="submit" id="submit" class="btn btn-success pull-right">Tìm Kiếm</button>
                        </div>
                    </div>
                }
                <div for="inputPassword" class="col-sm-12 lable-mucdo">Thông Tin Phạm Nhân </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Họ Tên:</label>
                    <label class="col-sm-9">@Html.DisplayFor(m => m.ho_ten)</label>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Ngày Sinh:</label>
                    <label class="col-sm-9">@Html.DisplayFor(m => m.ngay_sinh)</label>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-3 col-form-label">Nơi Sinh:</label>
                    <label class="col-sm-9">@Html.DisplayFor(m => m.noi_sinh)</label>
                </div>
                <div for="inputPassword" class="col-sm-12 lable-mucdo">Tình Trạng Sức Khoẻ </div>

                @using (Html.BeginForm("CapNhatTinhTrangSucKhoePhamNhan", "Page", FormMethod.Post, new { @class = "form-tt" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ma_so)
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Loại Sức Khoẻ: </label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.loai_suc_khoe, new List<SelectListItem> {
                            new SelectListItem { Text = "Loại 1", Value = "1"},
                            new SelectListItem { Text = "Loại 2", Value = "2"},
                            new SelectListItem { Text = "Loại 3", Value = "3"}
                            }, new { @class = "custom-select form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Khẩu Phần Ăn: </label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.khau_phan_an, new List<SelectListItem> {
                            new SelectListItem { Text = "Bình Thường", Value = "1"},
                            new SelectListItem { Text = "Đặc biệt", Value = "2"}
                            }, new { @class = "custom-select form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Ghi Chú: </label>
                        <div class="col-sm-9">
                            @Html.TextAreaFor(m => m.ghi_chu, new { @class = "form-control rounded-0", @id = "txtphamtoi", @rows = "3", @placeholder = "Sức khỏe bạn bình thường" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Ngày Kiểm Tra Kế Tiếp: </label>
                        <div class="col-sm-9">
                            <div class='input-group date' id='datetimepicker1'>
                                @Html.EditorFor(m => m.ngay_gio, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tt-huy-capnhat">
                        <button type="reset" class="btn btn-primary">Huỷ</button>
                        <button type="submit" class="btn btn-success">Cập nhật</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <footer>
        <div id="footer" class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Nam</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Trung</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Bắc</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Liên Kết Website</h3>
                    <ul>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright <a href="" title="#">Nhóm 14</a></p>
                </div>
            </div>
        </div>
        <div id="back-top" style="display: block;"><a href="#top"> Về Đầu Trang </a></div>
    </footer>
    <script type='text/javascript'>
		// hide #back-top first
		$("#back-top").hide();

    // fade in #back-top
    $(function () {
    	$(window).scroll(function () {
    		if ($(this).scrollTop() > 100) {
    			$('#back-top').fadeIn();
    		} else {
    			$('#back-top').fadeOut();
    		}
    	});

        // scroll body to 0px on click
        $('#back-top a').click(function () {
        	$('body,html').animate({
        		scrollTop: 0
        	}, 800);
        	return false;
        });
    });
    </script>

    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker();
        });
    </script>
</body>
</html>