
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a class="navbar-brand" href="">Home</a></li>
                    <li><a href="#">Giới Thiệu <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Tin Tức - Sự Kiện</a></li>
                    <li><a href="#" title="">Đường Dây Nóng</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Đăng Nhập</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" id="tt-cai-tao">
        <div class="row">
            <div class="col-md-4 sidebar-left-cai-tao">
                <ul>
                    @{
                        if (ViewBag.ma_phong_ban == "1")
                        {
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("TinhTrangPhamNhan", "TinhTrangPhamNhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachPhamNhan", "DanhSachPhamNhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachTuNhanDuocChamSocTrongNgay", "DanhSachTuNhanDuocChamSocTrongNgay")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("CapNhatTinhTrangSucKhoePhamNhan", "CapNhatTinhTrangSucKhoePhamNhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("ThemPhamNhan", "ThemPhamNhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachPhamNhanTiepNhanPhongThich", "DanhSachPhamNhanTiepNhanPhongThich")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("HoatDongCuaBoPhan", "HoatDongCuaBoPhan")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("GoiYKhauPhanAn", "GoiYKhauPhanAn")</li>
                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("TinhTrangCaiTao", "TinhTrangCaiTao")</li>
                        }
                        else
                        {
                            if (ViewBag.ma_phong_ban == "2")
                            {
                                <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("TinhTrangPhamNhan", "TinhTrangPhamNhan")</li>
                            }
                            else
                            {
                                if (ViewBag.ma_phong_ban == "3")
                                {
                                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachPhamNhan", "DanhSachPhamNhan")</li>
                                }
                                else
                                {
                                    if (ViewBag.ma_phong_ban == "4")
                                    {
                                        <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachTuNhanDuocChamSocTrongNgay", "DanhSachTuNhanDuocChamSocTrongNgay")</li>
                                        <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("CapNhatTinhTrangSucKhoePhamNhan", "CapNhatTinhTrangSucKhoePhamNhan")</li>
                                    }
                                    else
                                    {
                                        if (ViewBag.ma_phong_ban == "5")
                                        {
                                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("ThemPhamNhan", "ThemPhamNhan")</li>
                                            <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachPhamNhanTiepNhanPhongThich", "DanhSachPhamNhanTiepNhanPhongThich")</li>
                                        }
                                        else
                                        {
                                            if (ViewBag.ma_phong_ban == "6")
                                            {
                                                <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("GoiYKhauPhanAn", "GoiYKhauPhanAn")</li>
                                            }
                                            else
                                            {
                                                if (ViewBag.ma_phong_ban == "7")
                                                {
                                                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachPhamNhan", "DanhSachPhamNhan")</li>
                                                }
                                                else
                                                {
                                                    if (ViewBag.ma_phong_ban == "8")
                                                    {
                                                        <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("TinhTrangCaiTao", "TinhTrangCaiTao")</li>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                </ul>
            </div>
            <div class="col-md-8 sidebar-right-cai-tao">
                <h3 class="title-tinhtrang"><span class="glyphicon glyphicon-send"></span> GỢI Ý KHẨU PHẦN ĂN</h3>
                <form action="goiykhauphanan_submit" method="get" accept-charset="utf-8">
                    <div class="form-group row">
                        <label for="" class="col-sm-2">Loại:</label>
                        <div class="col-sm-7">
                            <select class="custom-select form-control">
                                <option selected>Quản Giáo</option>
                                <option value="1">Tù Nhân</option>}
                            </select>
                        </div>

                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary">Xoá</button>
                            <button type="button" class="btn btn-success pull-right">Tìm Kiếm</button>
                        </div>
                    </div>
                </form>
                <button type="button" class="col-sm-12 btn btn-success pull-right btnxuatPDF">Xuất PDF</button>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Mã Số</th>
                            <th scope="col">Họ Tên</th>
                            <th scope="col">Sức Khoẻ</th>
                            <th scope="col">Khẩu Phần Ăn</th>
                            <th scope="col">Gợi Ý Bác Sỹ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">A001</th>
                            <td>Nguyễn Văn A</td>
                            <td>Loại 1</td>
                            <td>Bình Thường</td>
                            <td>Không</td>
                        </tr>
                        <tr>
                            <th scope="row">A002</th>
                            <td>Nguyễn Văn B</td>
                            <td>Loại 1</td>
                            <td>Đặc Biệt</td>
                            <td>Nhiều Thiệt</td>
                        </tr>
                        <tr>
                            <th scope="row">A003</th>
                            <td>Nguyễn Văn C</td>
                            <td>Loại 2</td>
                            <td>Bình thường</td>
                            <td>Không</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer" class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Nam</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Trung</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Bắc</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Liên Kết Website</h3>
                    <ul>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright <a href="" title="#">Nhóm 14</a></p>
                </div>
            </div>
        </div>
        <div id="back-top" style="display: block;"><a href="#top"> Về Đầu Trang </a></div>
    </footer>
    <script type='text/javascript'>
		// hide #back-top first
		$("#back-top").hide();

    // fade in #back-top
    $(function () {
    	$(window).scroll(function () {
    		if ($(this).scrollTop() > 100) {
    			$('#back-top').fadeIn();
    		} else {
    			$('#back-top').fadeOut();
    		}
    	});

        // scroll body to 0px on click
        $('#back-top a').click(function () {
        	$('body,html').animate({
        		scrollTop: 0
        	}, 800);
        	return false;
        });
    });
    </script>
</body>
</html>
