
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a class="navbar-brand" href="">Home</a></li>
                    <li><a href="#">Giới Thiệu <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Tin Tức - Sự Kiện</a></li>
                    <li><a href="#" title="">Đường Dây Nóng</a></li>
                    <li><a href="#">Liên Hệ</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Đăng Nhập</a></li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container" id="tt-cai-tao">
        <div class="row">
            <div class="col-md-4 sidebar-left-cai-tao">
                <ul>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("TinhTrangPhamNhan", "TinhTrangPhamNhan")</li>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachPhamNhan", "DanhSachPhamNhan")</li>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachTuNhanDuocChamSocTrongNgay", "DanhSachTuNhanDuocChamSocTrongNgay")</li>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("CapNhatTinhTrangSucKhoePhamNhan", "CapNhatTinhTrangSucKhoePhamNhan")</li>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("ThemPhamNhan", "ThemPhamNhan")</li>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("DanhSachPhamNhanTiepNhanPhongThich", "DanhSachPhamNhanTiepNhanPhongThich")</li>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("HoatDongCuaBoPhan", "HoatDongCuaBoPhan")</li>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("GoiYKhauPhanAn", "GoiYKhauPhanAn")</li>
                    <li><span class="glyphicon glyphicon-ok"></span>@Html.ActionLink("TinhTrangCaiTao", "TinhTrangCaiTao")</li>

                </ul>
            </div>
            <div class="col-md-8 sidebar-right-cai-tao">
                <h3 class="title-tinhtrang"><span class="glyphicon glyphicon-send"></span> TÌNH TRẠNG PHẠM NHÂN</h3>

                <div for="inputPassword" class="col-sm-12 lable-mucdo">Thông Tin Phạm Nhân </div>

                <form action="" method="" class="form-tt">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Mã Số:</label>
                        <label class="col-sm-9">A001</label>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Họ Tên:</label>
                        <label class="col-sm-9">Nguyễn Văn A</label>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Ngày Sinh:</label>
                        <label class="col-sm-9">25/01/1993</label>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Nơi Sinh:</label>
                        <label class="col-sm-9">Hồ Chí Minh</label>
                    </div>
                </form>
                <div for="inputPassword" class="col-sm-12 lable-mucdo">Tình Trạng Phạm Nhân</div>

                <form action="" method="" class="form-tt">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Giam Giữ:</label>
                        <label class="col-sm-9">5 Tháng/ 5 Năm</label>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Sức Khoẻ:</label>
                        <label class="col-sm-9">Loại 1</label>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Ngày Thăm Kế Tiếp:</label>
                        <label class="col-sm-9">25/01/2019</label>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <footer>
        <div id="footer" class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Nam</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Nam 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Trung</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Trung 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Nhà Tù Miền Bắc</h3>
                    <ul>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                        <li><a href="" title="">Nhà Tù Miền Bắc 1</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Liên Kết Website</h3>
                    <ul>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                        <li><a href="" title="">Bộ Công Thương</a></li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p>Copyright <a href="" title="#">Nhóm 14</a></p>
                </div>
            </div>
        </div>
        <div id="back-top" style="display: block;"><a href="#top"> Về Đầu Trang </a></div>
    </footer>
    <script type='text/javascript'>
		// hide #back-top first
		$("#back-top").hide();

    // fade in #back-top
    $(function () {
    	$(window).scroll(function () {
    		if ($(this).scrollTop() > 100) {
    			$('#back-top').fadeIn();
    		} else {
    			$('#back-top').fadeOut();
    		}
    	});

        // scroll body to 0px on click
        $('#back-top a').click(function () {
        	$('body,html').animate({
        		scrollTop: 0
        	}, 800);
        	return false;
        });
    });
    </script>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css"> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
			$(function () {
				$('#datetimepicker1').datetimepicker();
			});
    </script>
</body>
</html>
